src/main/mule/sample_git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="sample_gitFlow" doc:id="8ad9b70a-10d2-48fb-8512-bbeb649c9887" >
		<logger level="INFO" doc:name="Logger" doc:id="f004bd19-54b7-40a3-a60d-595f067e5084" />
		<set-payload value='#["jh"]' doc:name="Set Payload" doc:id="90574690-7635-45ca-92f2-3ae64ab6bb5c" />
	</flow>
</mule>
